@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

:root {
    --background-color: #121212;
    --background-alt-color: #1f1f1f;
    --accent-color: #D32344;
    --text-color: #EEEEEE;
    --shape-color: #D32344;
    --peg-color: #1f1f1f;
    --award-color: #e0e033;

    --proj-box-base-width: 45vw;
    --proj-box-base-height: 50vh;
    --padding: 25px;
    --large-padding: 50px;
    --small-padding: 5px;
    --variable-padding: max(5vw, 10px);
    --variable-small-padding: max(0.5vw, 0.5vh, 5px);

    --proj-link-width: 175px;
    --proj-link-calc-height: calc((var(--small-padding) * 4) + var(--text-base-size));
    --proj-link-move-time: 0.5s;
    --proj-link-delay-stagger: 0.05s;

    --button-fade-time: 0.2s;
    --text-base-size: 1.2em;
}

* {
    /* font-family: 'Barlow', sans-serif; */
    font-family: 'Outfit', sans-serif;
    box-sizing: border-box;
    margin: 0;
    color: var(--text-color);
}

h1 {
    font-weight: 900;
    text-transform: uppercase;
}

p {
    font-size: var(--text-base-size);
}

::selection {
    color: var(--background-color);
    background: var(--text-color);
    padding: 0px;
}

.h-list {
    display: flex;
    flex-flow: row nowrap;
    justify-content: start;
    align-items: center;
    gap: var(--variable-small-padding);
}

.v-list {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: start;
    gap: var(--variable-small-padding);
}

.box-em {
    background-color: var(--accent-color);
    padding: var(--variable-padding);
}

.box-reg {
    background-color: var(--background-alt-color);
    padding: var(--variable-padding);
}

.gmtk-2021 {
    background-color: unset;
    background-image: linear-gradient(#03FFC7, #2BBEC3);
    color: var(--text-color);
}

.gmtk-2022 {
    background-color: unset;
    background-image: linear-gradient(to left, #FF9C00, #FF0900);
    color: var(--text-color);
}

/* #region Links */

a:link {
    color: var(--text-color);
    transition: color var(--button-fade-time) ease, background var(--button-fade-time) ease;
}

a:visited {
    color: var(--text-color);
}

a:focus {
    color: var(--text-color);
}

a:hover {
    color: var(--background-color);
    background: var(--text-color);
    text-decoration: none;
}

a:active {
    color: var(--background-color);
    background: var(--text-color);
    text-decoration: none;
}

/* #endregion */

/* #region Scrollbar */

::-webkit-scrollbar {
    width: var(--small-padding);
}

::-webkit-scrollbar-track {
    /* border-radius: var(--small-padding); */
    background: var(--background-color);
}

::-webkit-scrollbar-thumb {
    /* border-radius: var(--small-padding); */
    background: var(--accent-color);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--text-color);
}

/* #endregion */

/* Footer */
footer {
    height: max(250px, 20vh);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: var(--variable-padding);
}

.footer-text {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: var(--small-padding);
    padding: var(--padding);
}

/* Navbar */
#navbar {
    position: fixed;
    z-index: 100;
    top: -100px;
    display: flex;
    flex-flow: row nowrap;
    gap: var(--small-padding);
    padding: var(--small-padding) var(--padding);
    background-color: var(--accent-color);
    width: 100%;
    align-items: center;
    height: max(fit-content, var(--navbar-height));
    transition: top var(--proj-link-move-time) ease;
}

#navbar.visible {
    top: 0px;
}

.navbar-title {
    font-weight: 900;
    font-size: 2em;
    text-transform: uppercase;
}

.navbar-link {
    display: flex;
    flex-flow: row nowrap;
    gap: var(--small-padding);
    padding: var(--small-padding);
    align-items: center;
    height: fit-content;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    transition: background-color var(--button-fade-time) ease;
}

.navbar-link>p {
    transition: color var(--button-fade-time) ease;
}

.navbar-link:hover {
    background-color: var(--text-color);
}

.navbar-link:hover>p {
    color: var(--background-alt-color);
}

.navbar-link>img {
    filter: none;
    height: var(--text-base-size);
    aspect-ratio: 1;
    transition: filter var(--button-fade-time) ease;
}

.navbar-link:hover>img {
    /* --background-alt-color */
    filter: brightness(0) saturate(100%) invert(25%) sepia(0%) saturate(2761%) hue-rotate(176deg) brightness(99%) contrast(94%);
}