/* https://fonts.google.com/specimen/Nunito */

@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Open+Sans:wght@500&family=Roboto:wght@100&family=Zen+Kurenaido&display=swap');

/* https://colorhunt.co/palette/283149404b69f73859dbedf3 */

:root {
    --color1: #D32344;
    --color2: #444444;
    --color2dark: #121212;
    --color3: #DBEDF3;
    --color3dark: #B1C9D1;
    /* --color1: #F73859;
    --color1dark: #D32344;
    --color2: #404B69;
    --color2dark: #283149;
    --color3: #DBEDF3;
    --color3dark: #B1C9D1; */
}

::selection {
    color: var(--color3);
    /* background: var(--color1dark); */
    background: var(--color1);
}

* {
    margin: 0;
    font-family: 'Nunito', sans-serif;
}

p {
    font-size: 1.1em;
}