.screenshots {
    grid-area: screenshots;
}

.screenshots>div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2vw;
}

.screenshots>div>div {
    padding-bottom: 10px;
    border-radius: 10px;
    background-color: var(--color1);
}

.screenshots img {
    border-radius: 10px 10px 0 0;
    width: 100%;
}

.credits {
    grid-area: credits;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
}

.links {
    grid-area: links;
}

.summary {
    grid-area: summary;
}

.summary>p,
.summary>ul {
    text-align: left;
}

.thoughts {
    grid-area: thoughts;
}

.thoughts>p,
.summary>ul {
    text-align: left;
}

.music {
    grid-area: music;
    display: flex;
    flex-flow: column nowrap;
}

.music>div {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    gap: 2vw;
    color: var(--color3);
    border-radius: 40px;
    background-color: var(--color1);
    text-indent: 2vw;
}

.video {
    grid-area: video;
}

.video>iframe {
    border-radius: 10px;
    width: 100%;
    aspect-ratio: calc(16 / 9);
    background-color: var(--color1);
}

@media screen and (max-width:900px) {
    .screenshots>div {
        grid-template-columns: 1fr;
    }
}