body {
    background-color: var(--back-color);
    overflow-x: hidden;
}

.proj-title {
    color: var(--detail-color);
    font-weight: 900;
    font-size: 4em;
    max-height: 1em;
}

.proj-tag {
    background-color: var(--detail-color);
    color: var(--text-color);
    max-width: fit-content;
    padding: var(--small-padding);
}

.proj-grid {
    display: flex;
    flex-flow: column nowrap;
    gap: 30vh;
    padding: 5vw;
}

.proj-box-container {
    display: flex;
    min-height: var(--proj-box-height);
    width: var(--proj-box-width);
}

.proj-box-container.reversed {
    align-self: flex-end;
    justify-content: flex-end;
}

.proj-box-container:hover {
    width: calc(var(--proj-box-width) + var(--proj-box-link-width));
}

.proj-box {
    text-decoration: none;
    display: flex;
    flex-flow: row nowrap;
    width: var(--proj-box-width);
    filter: drop-shadow(0px 0px 0px rgba(0, 0, 0, 0.1));
    transition: transform 0.5s ease, filter 0.5s ease;
    text-align: end;
}

.proj-box-container.reversed .proj-box {
    flex-flow: row-reverse nowrap;
    text-align: start;
}

/* .proj-box-container:hover .proj-box {
    transform: translateY(calc(var(--padding) * -1));
    filter: drop-shadow(calc(var(--padding) * -0.5) var(--padding) 0px black);
} */

.proj-thumbnail {
    aspect-ratio: 1;
    background-position: center;
    background-size: cover;
    /* border-color: var(--detail-color); */
    /* border-style: solid; */
    /* border-width: 0px; */
    /* transition: border-width 0.2s ease; */
}

/* .proj-box-container:hover .proj-thumbnail {
    border-width: 5px 0px 5px 5px;
} */

.proj-desc {
    flex-grow: 1;
    text-align: justify;
}

.proj-info {
    background-color: var(--back-color);
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    gap: var(--padding);
    padding: 0px var(--padding) 0px var(--padding);
    /* border-color: var(--detail-color); */
    /* border-style: solid; */
    /* border-width: 0px; */
    /* transition: border-width 0.2s ease; */
    transition: background-color 0.2s ease;
}

.proj-box-container:hover .proj-info {
    /* border-width: 5px 5px 5px 0px; */
    background-color: var(--back-detail-color);
}

.proj-tags {
    display: flex;
    flex-flow: row wrap-reverse;
    justify-content: flex-end;
    gap: var(--small-padding);
}

.proj-box-container.reversed .proj-tags {
    justify-content: flex-start;
}

.proj-links {
    position: absolute;
    z-index: -1;
    top: 0px;
    left: var(--proj-box-width);
}

.proj-box-container.reversed .proj-links {
    left: 0px;
}

.proj-link {
    position: absolute;
    left: calc(var(--proj-box-link-width) * -1);
    display: flex;
    flex-flow: row nowrap;
    gap: var(--small-padding);
    padding: var(--small-padding);
    align-items: center;
    text-decoration: none;
    background-color: var(--back-detail-color);
    white-space: nowrap;
    min-width: var(--proj-box-link-width);
}

.proj-box-container.reversed .proj-link {
    left: 0px;
}

.proj-box-container:hover .proj-link {
    left: var(--small-padding);
}

.proj-box-container.reversed:hover .proj-link {
    left: calc((var(--proj-box-link-width) + var(--small-padding)) * -1);
}

.proj-link:nth-child(1) {
    top: calc(0 * ((var(--small-padding) * 4) + 1.2em));
    transition: background-color 0.2s ease, color 0.2s ease, left 0.6s cubic-bezier(0.83, 0, 0.17, 1) 0s;
}

.proj-link:nth-child(2) {
    top: calc(1 * ((var(--small-padding) * 4) + 1.2em));
    transition: background-color 0.2s ease, color 0.2s ease, left 0.6s cubic-bezier(0.83, 0, 0.17, 1) 0.1s;
}

.proj-link:nth-child(3) {
    top: calc(2 * ((var(--small-padding) * 4) + 1.2em));
    transition: background-color 0.2s ease, color 0.2s ease, left 0.6s cubic-bezier(0.83, 0, 0.17, 1) 0.2s;
}

.proj-link:nth-child(4) {
    top: calc(3 * ((var(--small-padding) * 4) + 1.2em));
    transition: background-color 0.2s ease, color 0.2s ease, left 0.6s cubic-bezier(0.83, 0, 0.17, 1) 0.3s;
}

.proj-link:hover {
    background-color: var(--text-color);
}

.proj-link:nth-child(1)>p {
    font-weight: 700;
}

.proj-link:hover>p {
    color: var(--back-detail-color);
}

.proj-link>img {
    filter: none;
    height: 1.2em;
    aspect-ratio: 1;
    transition: filter 0.2s ease;
}

.proj-link:hover>img {
    /* --back-detail-color */
    filter: brightness(0) saturate(100%) invert(25%) sepia(0%) saturate(2761%) hue-rotate(176deg) brightness(99%) contrast(94%);
}

fa-header {
    height: 100vh;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    padding-left: calc(var(--spacing) * 6);
    padding-right: calc(var(--spacing) * 6);
}

fa-header>div {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    gap: var(--spacing);
}

fa-footer {
    height: 20vh;
    display: flex;
    padding: var(--spacing);
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.button {
    display: flex;
    font-size: 2em;
    align-items: center;
    gap: var(--spacing);
    text-decoration: none;
    cursor: pointer;
    letter-spacing: unset;
    font-weight: 100;
    background-color: var(--back-detail-color);
    color: var(--text-color);
    transition: letter-spacing var(--transition-time) ease, font-weight var(--transition-time) ease, background-color var(--transition-time) ease, color var(--transition-time) ease;
}

.button>img {
    width: 1.5em;
    transition: filter var(--transition-time) ease;
}

.button:hover {
    letter-spacing: 0.1em;
    font-weight: unset;
    /* background-color: var(--detail-color); */
    background-color: var(--text-color);
    /* color: var(--text-color); */
    color: var(--back-detail-color);
}

.button:hover>img {
    filter: invert(1);
}

audio {
    background-color: var(--text-color);
    width: 100%;
}

audio::-webkit-media-controls-panel {
    background-color: var(--text-color);
    align-self: stretch;
}

.screen-warning {
    position: fixed;
    z-index: 100;
    top: 0px;
    background-color: var(--text-color);
    color: var(--detail-color);
    align-self: center;
    visibility: hidden;
    margin: var(--spacing);
    text-align: center;
}

@media screen and (max-width: 934px) {
    .gallery {
        display: flex;
        flex-flow: column nowrap;
    }

    .gallery-item {
        aspect-ratio: unset;
        background-color: rgba(0, 0, 0, 0.7);
    }

    .gallery-item>* {
        opacity: 1;
    }

    .gallery-item .gallery-item-labels>p {
        background-color: var(--detail-color);
    }

    .gallery-item:hover {
        border-width: 0px;
    }

    .gallery-item:hover .gallery-item-labels {
        top: calc(var(--border) * -1);
        right: calc(var(--border) * -1);
    }

    .screen-warning {
        visibility: visible;
    }

    .game-grid {
        display: flex;
        flex-flow: column nowrap;
    }
}

@media screen and (max-width: 800px) {
    fa-header>div {
        flex-flow: column-reverse nowrap;
    }

    .section {
        display: flex;
        flex-flow: column nowrap;
        align-items: stretch;
    }

    .game-section {
        display: flex;
        flex-flow: column nowrap;
    }

    h1,
    .button {
        font-size: 1.5em;
    }

    .gallery-item-labels {
        display: none;
    }
}