@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aldrich&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Badeen+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Vina+Sans&display=swap');

:root {
    --background-color: #121212;
    --panel-color: #444444;
    --detail-color: #D32344;
    --text-color: #f5f5f5;
    --peg-color: #222222;
    --proj-gif-size: 60vh;
    --proj-text-size: 20vw;
    --rounding: 5px;
    --gap: 10px;
    --resize-padding: max(2vw, 2vh);
}

p {
    font-size: 1.2em;
    text-align: justify;
}

* {
    /* font-family: 'Barlow', sans-serif; */
    /* font-family: 'Inter', sans-serif; */
    /* font-family: "Aldrich", sans-serif; */
    /* font-family: "Badeen Display", sans-serif; */
    font-family: "Vina Sans", sans-serif;
    /* font-family: 'Inter', sans-serif; */
    box-sizing: border-box;
    margin: 0;
    border-radius: var(--rounding);
}

body {
    min-height: 100vh;
    background-color: var(--background-color);
    padding: 0 10vw;
}

.projects {
    display: flex;
    flex-flow: column nowrap;
    padding: calc(0.5 * var(--proj-gif-size)) 0;
    gap: calc(0.5 * var(--proj-gif-size));
}

.proj-container:nth-child(even) {
    align-self: flex-end;
}

.home-header {
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
}

.text-effect {
    font-size: 15em;
    color: var(--detail-color);
}

/* #region Project Box */

.proj-container {
    height: var(--proj-gif-size);
    display: flex;
    flex-flow: row nowrap;
    width: min-content;
    gap: var(--resize-padding);
}

.reversed {
    flex-flow: row-reverse nowrap;
}

.proj-button {
    background-color: #C3D8DD;
    width: var(--proj-gif-size);
    aspect-ratio: 1;
}

.proj-info {
    display: flex;
    flex-flow: column nowrap;
    gap: var(--resize-padding);
    width: var(--proj-text-size);
    aspect-ratio: 1;
}

.proj-desc {
    flex-grow: 1;
}

.proj-tags {
    display: flex;
    flex-flow: row wrap;
    gap: var(--gap);
}

.proj-awards {
    display: flex;
    flex-flow: column nowrap;
    gap: var(--gap);
}

.proj-tag,
.proj-award {
    background-color: var(--detail-color);
    color: white;
    mix-blend-mode: screen;
    padding: 0.25em;
    height: min-content;
    white-space: nowrap;
    width: min-content;
}

/* #endregion */

.gmtk-2022 {
    background-color: unset;
    background-image: linear-gradient(to left, #FF9C00, #FF0900);
}

.gmtk-2021 {
    background-color: unset;
    background-image: linear-gradient(to left, #03FFC7, #2BBEC3);
}

.rit-edge {
    background-color: unset;
    background-image: linear-gradient(to left, #F36917, #9f440f);
}