@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root{
    --text-color: #FAFAFA;
    --back-color: #121212;
    --award-color: #eeee03;
    --proj-height: 90vh;
    --proj-back-width: 70%;
    --proj-back-height: 80%;
    --proj-desc-width: 25%;
}

* {
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
    margin: 0;
}

body {
    min-height: 100vh;
    background-color: var(--back-color);
    /* padding: 20px 5vw; */
    padding: 100vh 5vw;
}

.projects {
    display: flex;
    flex-flow: column;
    gap: 30vh;
    align-items: center;
}

.proj-container {
    position: relative;
    display: flex;
    flex-flow: column;
    gap: 1em;
    height: var(--proj-height);
    width: 100%;
    cursor: pointer;
}

.proj-background {
    position: absolute;
    /* background-color: #6fc4c7; */
    background-position: center;
    background-size: cover;
    width: var(--proj-back-width);
    height: var(--proj-back-height);
    left: calc((100% - var(--proj-back-width)) / 2);
    top: calc((100% - var(--proj-back-height)) / 2);
    z-index: -1;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
}

.proj-title {
    color: var(--text-color);
    font-size: 10em;
    /* font-weight: 900; */
    text-transform: uppercase;
    letter-spacing: -8px;
    max-height: 1em;
    filter: drop-shadow(10px 10px 0px var(--back-color));
}

.proj-desc {
    color: var(--text-color);
    font-size: 2em;
    width: var(--proj-desc-width);
    font-weight: 700;
    filter: drop-shadow(2px 2px 0px var(--back-color));
}

.proj-dates {
    color: var(--text-color);
    font-size: 2em;
    width: var(--proj-desc-width);
    font-weight: 700;
    filter: drop-shadow(2px 2px 0px var(--back-color));
}

.proj-tags {
    display: flex;
    flex-flow: row-reverse wrap;
    gap: 1em;
}

.proj-tag {
    color: var(--back-color);
    background-color: var(--text-color);
    padding: 0.25em 0.5em;
    font-size: 1.5em;
    font-weight: 700;
    /* text-transform: uppercase; */
}

.proj-awards {
    display: flex;
    flex-flow: column;
    align-items: flex-end;
}

.proj-award {
    color: var(--text-color);
    width: var(--proj-desc-width);
    font-size: 2em;
    font-weight: 700;
    text-align: right;
    filter: drop-shadow(2px 2px 0px var(--back-color));
}

.text-effect {
    font-kerning: none;
    user-select: none;
}