body {
    background-color: var(--color2dark);
}

hr {
    margin: 0 var(--spacing-vw) 0 var(--spacing-vw);
    border: 2px solid var(--color2);
    border-radius: var(--spacing-px);
    background-color: var(--color2);
}


/* #region Links */

a:link {
    color: var(--color3);
    font-weight: bold;
    transition: all var(--transition-speed) ease;
}

a:visited {
    color: var(--color3);
    font-weight: bold;
}

a:focus {
    color: var(--color3);
    font-weight: bold;
}

a:hover {
    color: var(--color1);
    font-weight: bold;
}

a:active {
    color: var(--color3);
    font-weight: bold;
}


/* #endregion */


/* #region Large Image */

.large-image {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    height: 95vh;
    text-align: center;
    padding: var(--spacing-vw);
    font-size: 4em;
    line-height: 1.75em;
    background-color: rgba(0, 0, 0, 0.7);
    background-blend-mode: multiply;
    background-position: center;
    background-size: cover;
}

.large-image>h1,
.large-image>h6 {
    filter: drop-shadow(2px 2px 0 black);
}

.large-image>img {
    width: 75vw;
}


/* #endregion */


/* #region Gallery */

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: var(--spacing-vw);
    margin: var(--spacing-vw);
}

.gallery>div {
    position: relative;
    aspect-ratio: 1;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10%;
    cursor: pointer;
    color: var(--color3);
    border: 0px solid var(--color1);
    border-radius: var(--spacing-px);
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: multiply;
    background-position: center;
    background-size: cover;
    filter: grayscale();
    transition: all var(--transition-speed) ease-in;
}

.gallery>div:hover {
    font-size: 140%;
    border: var(--spacing-px) solid var(--color1);
    color: var(--color1);
    filter: grayscale(0%);
}

.gallery>div>.banner {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0;
    width: 55%;
    height: calc(var(--spacing-px) * 2);
    padding: calc(var(--spacing-px) / 2);
    border-radius: var(--spacing-px) var(--spacing-px) 0 0;
    background-color: var(--color1);
    transition: bottom var(--transition-speed) ease-in, height var(--transition-speed) ease-in, width var(--transition-speed) ease-in;
}

.gallery>div:hover>.banner {
    bottom: -var(--spacing-px);
    height: calc(var(--spacing-px) * 4);
    width: 75%;
}

.gallery>div>.banner>p {
    font-size: 70%;
    white-space: nowrap;
    color: var(--color3);
    filter: drop-shadow(2px 2px 0 black);
}

.gallery>div>a {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    text-decoration: none;
    z-index: 10;
    background-color: #FFF;
    opacity: 0;
    filter: alpha(opacity=1);
}

.gallery>div>h1,
.gallery>div>h3 {
    filter: drop-shadow(2px 2px 0 black);
}


/* #endregion */

.link-list {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    column-gap: min(5vw, var(--spacing-px));
}

.image-link>img {
    width: 50px;
    filter: grayscale();
    transition: all var(--transition-speed) ease;
}

.image-link>img:hover {
    filter: grayscale(0%);
}

.button-link {
    display: flex;
    align-items: center;
    padding: var(--spacing-px);
    text-decoration: none;
    color: var(--color2dark);
    border: 0px solid var(--color1);
    border-radius: calc(var(--spacing-px) * 4);
    background-color: var(--color2dark);
    transition: all var(--transition-speed) ease;
}

.button-link:hover {
    color: var(--color3);
    background-color: var(--color1);
    font-weight: bold;
}

.info-list {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--spacing-vw);
    margin: var(--spacing-vw);
}

.game-info-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--spacing-vw);
    margin: var(--spacing-vw);
}

.info-list>div,
.game-info-list>div {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: var(--spacing-vw);
    padding: max(var(--spacing-vw), calc(var(--spacing-px) * 2));
    color: var(--color3);
    border-radius: var(--spacing-px);
    background-color: var(--color2);
}

.game-info-list>div>p {
    text-indent: calc(var(--spacing-vw));
}

.info-list>div hr,
.game-info-list>div hr {
    width: 50%;
    border: 2px solid var(--color1);
    background-color: var(--color1);
}


/* Changes for mobile */

@media screen and (max-width:1200px) {
    .info-list {
        grid-template-rows: repeat(3, 1fr);
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width:900px) {
    .game-info-list {
        display: flex;
        flex-flow: column nowrap;
    }
}

@media screen and (max-width:500px) {
    .large-image {
        font-size: 2.5em;
    }
    .image-link>img,
    .gallery>div {
        filter: grayscale(0%);
    }
}