header {
    background-color: rgba(0, 0, 0, 0.1);
    background-blend-mode: multiply;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

header>img {
    height: unset;
    width: 75%;
}

header>img {
    filter: drop-shadow(0 0 var(--spacing) black);
}

.header-logo {
    position: absolute;
    top: var(--spacing);
    left: var(--spacing);
    width: min(calc(var(--gallery-size) / 2), 25%);
}

.header-socials {
    position: absolute;
    /* bottom: var(--spacing); */
    bottom: 0;
}

.game-menu {
    position: absolute;
    top: 0px;
    right: calc(var(--gallery-size) * -1);
    width: var(--gallery-size);
    border-left: var(--color1) solid 0;
    background-color: var(--color3);
    /* background-image: url('../media/space-background.png'); */
    /* background-position: 500px 0px; */
    /* background-size: 1500px; */
    height: 100%;
    /* transition: var(--transition); */
    display: flex;
    flex-flow: column nowrap;
    gap: var(--spacing);
    padding-top: var(--spacing);
    padding-bottom: var(--spacing);
}

.game-menu>a {
    /* border: 1px solid green; */
    /* margin-left: calc(var(--spacing) * 2);
    margin-right: calc(var(--spacing) * 2); */
    width: 50%;
    text-decoration: none;
    text-align: center;
    align-self: center;
}

.game-menu>a:hover {
    transform: scale(var(--scale-size), var(--scale-size));
}

.game-menu img {
    filter: unset;
}

.game-menu>button {
    position: absolute;
    top: 0;
    left: calc((var(--spacing) + 1em) * -1);
    margin-top: calc(var(--spacing) / 2);
    background-color: var(--color3);
    padding-left: calc(var(--spacing) / 2);
    padding-right: calc(var(--spacing) / 2);
    border-radius: var(--rounded) 0 0 var(--rounded);
    font-size: 2em;
    width: calc(var(--spacing) + 1em);
    border: var(--color1) solid var(--border);
    border-right-width: 0;
    color: var(--color4);
    /* transition: var(--transition); */
    cursor: pointer;
}

.game-menu>button:hover {
    color: var(--color1);
}

custom-gallery {
    padding: var(--spacing);
    display: flex;
    flex-flow: column nowrap;
    margin-bottom: var(--spacing);
    overflow-y: overlay;
    /* direction: rtl; */
    border-top: var(--border) solid var(--color1);
}

.gallery-item {
    aspect-ratio: unset;
    background-color: rgba(0, 0, 0, 0.2);
    padding: calc(var(--spacing) / 2);
}

.gallery-item>* {
    display: unset;
    /* color: var(--color4); */
    /* text-decoration-color: var(--color4); */
}

.gallery-item:hover {
    border-width: 0;
}

.gallery-item-banner {
    display: none;
}

.game-info-list {
    display: grid;
    grid-auto-columns: 1fr;
    /* grid-template-areas: 'credits game-summary game-summary' 'credits thoughts thoughts' 'video video video' 'screenshots screenshots screenshots' 'assets assets music'; */
    gap: var(--spacing);
}

.game-info-list>* {
    padding: var(--spacing);
    background-color: var(--color2);
    border-radius: var(--rounded);
    display: flex;
    flex-flow: column nowrap;
    gap: calc(var(--spacing) / 2);
}

iframe {
    aspect-ratio: 1.7777777;
    width: 75%;
    border-radius: var(--rounded);
    /* border: var(--border) solid var(--color1); */
    border-width: 0;
    align-self: center;
}

#credits {
    grid-area: credits;
}

#credits>div {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    height: 100%;
}

game-credit {}

#game-summary {
    grid-area: game-summary;
}

#thoughts {
    grid-area: thoughts;
}

#video {
    grid-area: video;
    background-color: var(--color3);
    padding: 0;
}

#screenshots {
    grid-area: screenshots;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(calc(var(--gallery-size) * 2), 1fr));
    gap: var(--spacing);
    background-color: var(--color3);
    padding: 0;
}

#screenshots img {
    width: 100%;
    border-radius: var(--rounded);
    /* border: var(--border) solid var(--color1); */
}

#assets {
    grid-area: assets;
}

#music {
    grid-area: music;
}

#music>div {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    height: 100%;
    gap: var(--spacing);
}

game-music {
    /* width: 100%; */
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    gap: calc(var(--spacing) / 2);
    padding-left: calc(var(--spacing) / 2);
    background-color: var(--color1);
    border-radius: var(--rounded);
    /* border:var(--color4) solid var(--border); */
}

@media screen and (max-width:1175px) {
    #screenshots {
        display: flex;
        flex-flow: column nowrap;
    }
    iframe {
        width: 100%;
    }
    game-menu {
        display: none;
    }
    .game-info-list {
        display: flex;
        flex-flow: column nowrap;
    }
    #credits>div {
        gap: var(--spacing);
    }
    game-music {
        flex-flow: column nowrap;
        padding: var(--spacing);
        text-align: center;
    }
    game-music>* {
        width: 100%;
    }
}

@media screen and (max-width:840px) {
    .header-socials img {
        height: calc(var(--header-size) / 2);
    }
}

@media screen and (max-width:500px) {
    header {
        background-position-x: unset;
    }
}