#wrapper {
    width: 100vw;
    min-height: 100vh;
}

#matter {
    position: absolute;
    z-index: -100;
}

body {
    background-color: var(--background-color);
    overflow-x: hidden;
}

main {
    padding: var(--spacing);
    display: flex;
    flex-flow: column;
    gap: var(--spacing);
    align-items: start;
}

.section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: calc(var(--spacing) * 6);
    padding: calc(var(--spacing) * 6);
    align-items: start;
}

fa-header {
    height: 100vh;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    padding-left: calc(var(--spacing) * 6);
    padding-right: calc(var(--spacing) * 6);
}

fa-header>div {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    gap: var(--spacing);
}

fa-footer {
    height: 20vh;
    display: flex;
    padding: var(--spacing);
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.button {
    display: flex;
    font-size: 2em;
    align-items: center;
    gap: var(--spacing);
    text-decoration: none;
    cursor: pointer;
    letter-spacing: unset;
    font-weight: 100;
    background-color: var(--panel-color);
    color: var(--text-color);
    transition: letter-spacing var(--transition-time) ease, font-weight var(--transition-time) ease, background-color var(--transition-time) ease, color var(--transition-time) ease;
}

.button>img {
    width: 1.5em;
    transition: filter var(--transition-time) ease;
}

.button:hover {
    letter-spacing: 0.1em;
    font-weight: unset;
    /* background-color: var(--detail-color); */
    background-color: var(--text-color);
    /* color: var(--text-color); */
    color: var(--panel-color);
}

.button:hover>img {
    filter: invert(1);
}

audio {
    background-color: var(--text-color);
    width: 100%;
}

audio::-webkit-media-controls-panel {
    background-color: var(--text-color);
    align-self: stretch;
}


/* #region Game Pages */

fa-game-header>div {
    height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game-grid {
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding: var(--spacing);
    gap: var(--spacing);
}

.game-info,
.game-screenshots {
    justify-content: start;
}

.game-info {
    gap: calc(var(--spacing) * 4);
}

.game-info>* {
    align-self: stretch;
}

.game-screenshots>* {
    object-fit: contain;
    width: 100%;
    max-width: 100%;
    border-width: 0px;
    background-color: var(--panel-color);
    text-align: center;
}

.game-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 1fr;
    gap: var(--spacing);
    align-self: stretch;
}

fa-game-credit,
fa-game-music {
    background-color: var(--panel-color);
    padding: var(--spacing);
    display: flex;
    flex-flow: column nowrap;
    gap: var(--spacing);
    position: relative;
}

fa-game-credit>h2,
fa-game-music>h2 {
    font-size: 1.5em;
}

/* #endregion */


/* #region Gallery */

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(var(--gallery-size), 1fr));
    gap: var(--spacing);
    width: 100%;
}

.gallery-item {
    position: relative;
    aspect-ratio: 1;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-blend-mode: multiply;
    border: 0px solid var(--panel-color);
    padding: var(--spacing);
    justify-content: space-between;
    cursor: pointer;
    text-decoration: none;
    transition: background-color var(--transition-time) ease, border-width var(--transition-time) ease;
}

.gallery-item>* {
    opacity: 0;
    transition: opacity var(--transition-time) ease;
}

.gallery-item-labels {
    position: absolute;
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-end;
    opacity: 1;
    gap: var(--spacing-small);
    top: calc(var(--border) * -1);
    right: calc(var(--border) * -1);
    transition: top var(--transition-time) ease, right var(--transition-time) ease;
}

.gallery-item-labels>p {
    background-color: var(--panel-color);
    padding: var(--border);
    width: fit-content;
}

.gallery-box {
    background-color: var(--detail-color);
    padding: var(--border);
}

.gallery-item:hover {
    background-color: var(--tint-color);
    border-width: var(--border);
}

.gallery-item:hover>* {
    opacity: 1;
}

.gallery-item:hover .gallery-item-labels {
    top: calc(var(--border) * -2);
    right: calc(var(--border) * -2);
}

.gallery-item-tags {
    gap: var(--spacing-small);
}


/* #endregion */

.screen-warning {
    position: fixed;
    z-index: 100;
    top: 0px;
    background-color: var(--text-color);
    color: var(--detail-color);
    align-self: center;
    visibility: hidden;
    margin: var(--spacing);
    text-align: center;
}

@media screen and (max-width: 934px) {
    .gallery-item {
        aspect-ratio: unset;
        background-color: rgba(0, 0, 0, 0.7);
    }
    .gallery-item>* {
        opacity: 1;
    }
    .gallery-item .gallery-item-labels>p {
        background-color: var(--detail-color);
    }
    .gallery-item:hover {
        border-width: 0px;
    }
    .gallery-item:hover .gallery-item-labels {  
        top: calc(var(--border) * -1);
        right: calc(var(--border) * -1);
    }
    .screen-warning {
        visibility: visible;
    }
    .game-grid {
        display: flex;
        flex-flow: column nowrap;
    }
}

@media screen and (max-width: 800px) {
    fa-header>div {
        flex-flow: column-reverse nowrap;
    }
    .section {
        display: flex;
        flex-flow: column nowrap;
        align-items: stretch;
    }
    .game-section {
        display: flex;
        flex-flow: column nowrap;
    }
}