@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --background-color: #121212;
    --panel-color: #444444;
    --detail-color: #D32344;
    --text-color: white;
    --peg-color: #222222;
    --proj-box-width: 45vw;
    --proj-box-height: 50vh;
    --proj-box-link-width: 225px;
    --padding: 20px;
    --small-padding: 5px;
}

h1,
.proj-tag {
    background-color: var(--detail-color);
    color: var(--text-color);
    max-width: fit-content;
    padding: var(--small-padding);
}

p {
    font-size: 1.2em;
    text-align: justify;
}

* {
    font-family: 'Barlow', sans-serif;
    font-weight: 300;
    box-sizing: border-box;
    margin: 0;
    color: var(--text-color);
}

body {
    display: flex;
    flex-flow: column nowrap;
    gap: 30vh;
    padding: 5vw;
    background-color: var(--background-color);
}

.proj-box-container {
    display: flex;
    min-height: var(--proj-box-height);
    width: var(--proj-box-width);
}

.proj-box-container.reversed {
    align-self: flex-end;
    justify-content: flex-end;
}

.proj-box-container:hover {
    width: calc(var(--proj-box-width) + var(--proj-box-link-width));
}

.proj-box {
    text-decoration: none;
    display: flex;
    flex-flow: row nowrap;
    width: var(--proj-box-width);
    filter: drop-shadow(0px 0px 0px rgba(0, 0, 0, 0.1));
    transition: transform 0.5s ease, filter 0.5s ease;
}

.proj-box-container.reversed .proj-box {
    flex-flow: row-reverse nowrap;
}

.proj-box-container:hover .proj-box {
    transform: translateY(calc(var(--padding) * -1));
    filter: drop-shadow(calc(var(--padding) * -0.5) var(--padding) 0px black);
}

.proj-thumbnail {
    aspect-ratio: 1;
    background-position: center;
    background-size: cover;
    /* border-color: var(--detail-color); */
    /* border-style: solid; */
    /* border-width: 0px; */
    /* transition: border-width 0.2s ease; */
}

/* .proj-box-container:hover .proj-thumbnail {
    border-width: 5px 0px 5px 5px;
} */

.proj-desc {
    flex-grow: 1;
}

.proj-info {
    background-color: var(--panel-color);
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    gap: var(--padding);
    padding: var(--padding);
    /* border-color: var(--detail-color); */
    /* border-style: solid; */
    /* border-width: 0px; */
    /* transition: border-width 0.2s ease; */
}

/* .proj-box-container:hover .proj-info {
    border-width: 5px 5px 5px 0px;
} */

.proj-tags {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-end;
    gap: var(--small-padding);
}

.proj-links {
    position: absolute;
    z-index: -1;
    top: 0px;
    left: var(--proj-box-width);
}

.proj-box-container.reversed .proj-links {
    left: 0px;
}

.proj-link {
    position: absolute;
    left: calc(var(--proj-box-link-width) * -1);
    display: flex;
    flex-flow: row nowrap;
    gap: var(--small-padding);
    padding: var(--small-padding);
    align-items: center;
    text-decoration: none;
    background-color: var(--panel-color);
    white-space: nowrap;
    min-width: var(--proj-box-link-width);
}

.proj-box-container.reversed .proj-link {
    left: 0px;
}

.proj-box-container:hover .proj-link {
    left: var(--small-padding);
}

.proj-box-container.reversed:hover .proj-link {
    left: calc((var(--proj-box-link-width) + var(--small-padding)) * -1);
}

.proj-link:nth-child(1) {
    top: calc(0 * ((var(--small-padding) * 4) + 1.2em));
    transition: background-color 0.2s ease, color 0.2s ease, left 0.6s cubic-bezier(0.83, 0, 0.17, 1) 0s;
}

.proj-link:nth-child(2) {
    top: calc(1 * ((var(--small-padding) * 4) + 1.2em));
    transition: background-color 0.2s ease, color 0.2s ease, left 0.6s cubic-bezier(0.83, 0, 0.17, 1) 0.1s;
}

.proj-link:nth-child(3) {
    top: calc(2 * ((var(--small-padding) * 4) + 1.2em));
    transition: background-color 0.2s ease, color 0.2s ease, left 0.6s cubic-bezier(0.83, 0, 0.17, 1) 0.2s;
}

.proj-link:nth-child(4) {
    top: calc(3 * ((var(--small-padding) * 4) + 1.2em));
    transition: background-color 0.2s ease, color 0.2s ease, left 0.6s cubic-bezier(0.83, 0, 0.17, 1) 0.3s;
}

.proj-link:hover {
    background-color: var(--text-color);
}

.proj-link:hover>p {
    color: var(--panel-color);
}

.proj-link>img {
    filter: none;
    height: 1.2em;
    aspect-ratio: 1;
    transition: filter 0.2s ease;
}

.proj-link:hover>img {
    /* --panel-color */
    filter: brightness(0) saturate(100%) invert(25%) sepia(0%) saturate(2761%) hue-rotate(176deg) brightness(99%) contrast(94%);
}

.gmtk-2022 {
    background-color: unset;
    background-image: linear-gradient(to left, #FF9C00, #FF0900);
}

.gmtk-2021 {
    background-color: unset;
    background-image: linear-gradient(#03FFC7, #2BBEC3);
}

.rit-edge {
    background-color: unset;
    background-image: linear-gradient(to left, #F36917, #9f440f );
}

.in-development {
    background-color: unset;
    background-image: linear-gradient(to left, #FF9C00, #FF0900);
}