#wrapper {
    position: absolute;
    width: 100%;
    min-height: 100vh;
    top: 0px;
    left: 0px;
}

body {
    background-color: var(--color1);
    overflow-x: hidden;
}

.hori-list {
    display: flex;
    flex-flow: row nowrap;
    justify-content: start;
    align-items: center;
    gap: var(--spacing);
}

.vert-list {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: start;
    gap: var(--spacing);
}

.section {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: calc(var(--spacing) * 6);
    padding: calc(var(--spacing) * 6);
}

header {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    background-color: var(--color3);
    padding: var(--spacing);
}

.button {
    cursor: pointer;
    letter-spacing: unset;
    font-weight: 100;
    background-color: var(--color2);
    transition: letter-spacing var(--transition-time) ease, font-weight var(--transition-time) ease, background-color var(--transition-time) ease;
}

.button:hover {
    letter-spacing: 0.1em;
    font-weight: unset;
    background-color: var(--color3);
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(var(--gallery-size), 1fr));
    gap: var(--spacing);
    width: 100%;
}

.gallery-item {
    position: relative;
    aspect-ratio: 1;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-blend-mode: multiply;
    border: 0px solid var(--color3);
    padding: var(--spacing);
    justify-content: space-between;
    cursor: pointer;
    text-decoration: none;
    transition: background-color var(--transition-time) ease, border-width var(--transition-time) ease;
}

.gallery-item>* {
    display: none;
}

.gallery-item-info {
    display: flex;
    position: absolute;
    flex-flow: column nowrap;
    align-items: flex-end;
    gap: var(--border);
    top: calc(var(--spacing) * -0.5);
    right: calc(var(--spacing) * -0.5);
    transition: top var(--transition-time) ease, right var(--transition-time) ease;
}

.gallery-item-info>p {
    background-color: var(--color2);
    padding: var(--border);
    width: fit-content;
    align-self: right;
    transition: background-color var(--transition-time) ease;
}

.gallery-item:hover {
    background-color: rgba(0, 0, 0, 0.7);
    border-width: var(--border);
}

.gallery-item:hover>* {
    display: flex;
}

.gallery-item:hover .gallery-item-info {
    top: calc(var(--spacing) * -0.75);
    right: calc(var(--spacing) * -0.75);
}

.gallery-item:hover .gallery-item-info>p {
    background-color: var(--color3);
}

.gallery-em {
    background-color: var(--color3);
    padding: var(--border);
}

.content {
    padding: var(--spacing);
    display: flex;
    flex-flow: column;
    gap: var(--spacing);
    align-items: start;
}

fa-text-gallery-item {
    display: flex;
}

.text-gallery-item {
    justify-content: space-between;
    background-color: var(--color2);
    padding: var(--spacing);
}

#logo {
    aspect-ratio: 1;
    background-color: var(--color2);
    padding: var(--spacing);
}

@media screen and (max-width:850px) {}